@use "../colors" as *;
.header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search {
    display: flex;
    align-items: center;
    gap: 70px;
    width: 280px;
    height: 63px;
    background: rgba(213, 213, 226, 0.09);
    border-radius: 10px;
    border: 1px solid #ffffff00;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);

    &-input {
      width: 150px;
      height: 45px;
      padding: 15px;
      font-size: 16px;
      font-weight: 500;
      line-height: 60px;
      text-align: left;
      color: rgb(159, 159, 159);
      background: rgba(238, 238, 238, 0);
      border: 1px solid #ffffff00;
    }

    &-button {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primary-color;
      border: none;
      border-radius: 8px;

      &_active {
        background: #059669;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
      &:hover {
        background: $primary-color-active;
        box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.25);
        transform: translateY(-2px);
      }
    }
  }

  .items-added-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0px;
    margin-left: 38px;
    width: 229px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid $primary-color;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    &:hover {
      background: $primary-color;
      box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.25);
      transform: translateY(-2px);
      .items-added-button-text {
        color: rgb(255, 255, 255);
      }
    }
    &-text {
      font-size: 16px;
      font-weight: 500;
      line-height: 60px;
      text-align: center;
      transition: all 0.3s ease;
    }
  }

  .login-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0px;
    margin-left: 38px;
    width: 229px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid $primary-color;
    background: $primary-color;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);

    &-text {
      width: 175px;
      height: 23px;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: rgb(255, 255, 255);
    }
    &:hover {
      background: $primary-color;
      box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
      transform: translateY(-2px);
      .items-added-button-text {
        color: rgb(255, 255, 255);
      }
    }
  }
}

.button-add-to-card {
  width: 263px;
  height: 70px;
  border-radius: 10px;
  background: $primary-color;
  border: none;
  box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
  font-size: 21px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: $primary-color-active;
    box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.25);
    transform: translateY(-2px);
  }

  &--wide {
    width: 361px;
  }
}

.button-more {
  width: 263px;
  height: 70px;
  border-radius: 10px;
  background: transparent;
  border: none;
  box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
  font-size: 21px;
  font-weight: 600;
  line-height: 25.6px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(41, 18, 79, 0.15);
    box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.25);
    transform: translateY(-2px);
  }
}



