@use "../colors" as *;

.card-color_mint {
  background: rgba(236, 254, 244, 1);
}
.card-color_blu {
  background: rgba(201, 242, 255, 1);
}
.card-color_purpure {
  background: rgba(229, 213, 255, 1);
}
.card-color_green {
  background: $primary-color;
}
.card-color_blu-3 {
  background: rgba(224, 239, 255, 1);
}
.card-color_blu-4 {
  background: rgba(232, 249, 255, 1);
}
.card-color_blu-5 {
  background: rgba(211, 251, 251, 1);
}
