@use "./colors" as *;
@use './breacpoints' as *;
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__start {
    width: 1068px;
    height: 91px;
    margin-left: 186px;
    margin-top: 130px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__text {
      font-family: "DM Sans";
      font-size: 22px;
      font-weight: 400;
      line-height: 28.64px;
      letter-spacing: -0.30000001192092896px;
      text-align: left;
      color: rgba(17, 17, 17, 1);

      margin-right: 40px;
    }
    &__button {
      width: 175px;
      height: 50px;
      background: $primary-color;
      border: rgba(0, 0, 0, 0);

      font-family: "DM Sans";
      font-size: 17px;
      font-weight: 700;
      line-height: 22.13px;
      letter-spacing: -0.23181818425655365px;
      text-align: center;
      color: rgba(255, 255, 255, 1);
    }
  }
  &__nav {
    // width: 1068px;
    // margin-left: 186px;
    display: flex;
    justify-content: space-evenly;
    // gap: 100px;
    &__subscribe {
      width: 289px;
      height: 139px;
      &__text {
        font-family: "DM Sans";
        font-size: 22px;
        font-weight: 400;
        line-height: 28.64px;
        letter-spacing: -0.30000001192092896px;
        text-align: left;
        color: rgba(17, 17, 17, 1);

        margin-top: 40px;
      }
      &__imput {
        display: flex;
        margin-top: 30px;
        width: 289px;
        height: 50px;
        &__email {
          width: 239px;
          height: 50px;

          border: 0px;
          border-bottom: 1px solid #0000003b;

          font-family: "DM Sans";
          font-size: 15px;
          font-weight: 400;
          line-height: 19.53px;
          letter-spacing: -0.20454545319080353px;
          text-align: left;
          color: rgba(17, 17, 17, 1);
        }
        &__button {
          width: 50px;
          height: 50px;
          border: 0px;
        }
      }
    }
    &__sevices {
      ul {
        list-style-type: none;
        margin-top: 40px;
        margin-right: 72px;
      }
    }
    &__about {
      ul {
        list-style-type: none;
        margin-top: 40px;
        margin-right: 71px;
      }
    }
    &__help {
      ul {
        list-style-type: none;
        margin-top: 40px;
      }
    }
  }
  &__info {
    width: 1068px;
    margin-top: 70px;
    margin-left: 186px;
    display: flex;

    font-family: "DM Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 19.53px;
    letter-spacing: -0.20454545319080353px;
    text-align: left;
    &__terms {
      margin-right: 39px;
    }
    &__policy {
      margin-right: 653px;
    }
    &__contacts {
      width: 133.96px;
      display: flex;
      justify-content: space-between;
    }
  }
  .green-nav {
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 22.13px;
    letter-spacing: -0.23181818425655365px;
    text-align: left;
    color: $primary-color;
  
    margin-bottom: 20px;
  }
  .gray-nav {
    font-family: "DM Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 19.53px;
    letter-spacing: -0.20454545319080353px;
    text-align: left;
    color: rgba(17, 17, 17, 1);
  
    margin-bottom: 20px;
  }
}

@include isTablet(){
  .footer{
    .green-nav{
      color: red;
    }
  }
}

